/* @group Content */

html {
  font-family: "Helvetica Neue", helvetica, arial sans-serif;
}

body {
  background-color: #fff;
  background-image: none;
  background-image:
    -moz-linear-gradient(
      -90deg,
      #efefef 0px,
      #ffffff 400px);
  background-image:
    -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.0, rgba(235, 235, 235, 1.0)),
      color-stop(0.1, rgba(255, 255, 255, 1.0))
    );
  background-image:
    -webkit-linear-gradient(
      -90deg,
      #efefef 0px,
      #ffffff 400px);
      
  background-image:
    linear-gradient(
      -90deg,
      #efefef 0px,
      #ffffff 400px);
  filter: progid:DXImageTransform.Microsoft.gradient(
    GradientType='0',
    startColorstr=#efefef, 
    endColorstr=#ffffff
  );
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(
    GradientType='0',
    startColorstr=#efefef, 
    endColorstr=#ffffff
  );
}

hr {
  display: none;
}

.skip {
  padding: 0.75em 1em;
}
.skip a:link,
.skip a:visited {
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  background: #444;
  border-radius:10px;
  color: #fff;
}

/* @end */