/* @group Framework */

/* @group Elements */

/* @group Block */

body {
  margin: 0;
}

header, 
section, 
footer,
aside,
nav,
menu,
article,
figure,
div {
  display: block;
}

/* @end */

/* @group Headings */

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
  font-size: 1.75em;
  line-height: 1.5;
}

h2 {
  font-size: 1.25em;
  line-height: 1.25;
}

h3 {
  font-size: 1.1875em;
  line-height: 1.1667;
}

h4 {
  font-size: 1.0667em;
  line-height: 1.1667;
}

h5 {
  font-size: 1em;
  line-height: 1.1667;
}

/* @end */

/* @group Inline */

a:link,
a:visited {
  text-decoration: none;
}

a:hover {}

a:focus,
a:active {}

/* @end */

/* @end */

/* @group Layout */

.wrapper {
  position: relative;
}

/* @group Stacks */

.stack {
  text-align: left; /* LTR */
}

/* @end */

/* @group Position */

.left {
  float: left;
}

.right {
  float: right;
}

/* @end */

/* @end */

/* @group Components */

.skip {
  left: -500px; /* LTR */
  position: absolute;
  z-index: 10000;
  top: 0;
}
.skip a:link,
.skip a:visited {
  position: absolute;
}

.skip a:focus {
  left: 520px; /* LTR */
}

/* @end */

/* @group Media queries */

/* @group Proprtional leading */

@media 
all 
and (max-width : 900px) {

section {
line-height : 1.4; }

}

@media 
all 
and (max-width : 800px) {

section {
line-height : 1.3; }

}

/* @end */

/* @group Smartphones (portrait and landscape) */
@media 
only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

.csscolumns div.cols {
-moz-column-count : 1;
-moz-column-width : auto;
-moz-column-gap : 0; 
-moz-column-rule-width : 0;
-o-column-count : 1;
-o-column-width : auto;
-o-column-gap : 0; 
-o-column-rule-width : 0;
-webkit-column-count : 1;
-webkit-column-width : auto;
-webkit-column-gap : 0; 
-webkit-column-rule-width : 0; 
column-width : auto;
column-gap : 0;
column-rule-width : 0; 
column-column-count : 1; } 

}

/* @end */

@media 
screen and (max-width : 959px),
handheld and (max-width : 959px),
projection and (max-width : 959px),
tv and (max-width : 959px) {
  /* @group Wrappers */
    .wrapper {
      padding-left: 6px;
      padding-right: 6px;
    }
  /* @end */
}

@media 
screen and (min-width : 960px),
handheld and (min-width : 960px),
projection and (min-width : 960px),
tv and (min-width : 960px) {
  
  /* @group Wrappers */
  
  .wrapper {
    padding-left: 36px;
    padding-right: 36px;
    text-align: center;
  }
  
  /* @end */
  
  /* @group Stacks */
  
  .stack {
    margin: 0 auto;
    padding-left: 18px;
    padding-right: 18px;
  }
  
  /* @end */
}

@media 
screen and (min-width : 960px) and (max-width : 1823px),
handheld and (min-width : 960px) and (max-width : 1823px),
projection and (min-width : 960px) and (max-width : 1823px),
tv and (min-width : 960px) and (max-width : 1823px) 
 {
  
  /* @group Stacks */
  
  .stack {
    max-width: 1003px;
  }
  
  /* @end */
}

@media 
screen and (min-width : 1824px),
handheld and (min-width : 1824px),
projection and (min-width : 1824px), 
tv and (min-width : 1824px) {
  
  /* @group Stacks */
  
  .stack {
    max-width: 2000px;
  }
  
  /* @end */
}

/* @group Smartphones (portrait) */
@media 
only screen 
and (max-device-width : 320px) {
  body {
    font-size: 2.5em;
  }
}

/* @end */

/* @group iPads (portrait and landscape) */
@media 
only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  body {
    font-size: 1.5em;
  }
}

/* @end */

/* @group iPads (landscape) */
@media 
only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {}

/* @end */

/* @group iPads (portrait) */
@media 
only screen and (min-device-width : 768px)
and (max-device-width : 1024px) 
and (orientation : portrait)) {}

/* @end */

/* @group iPhone 4 and high device-pixel-ratio devices */

@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {}

/* @end */

/* @end */

/* @group Clears */

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* @end */

/* @end */
