[submodule "plugins/semanticOutliner"]
	path = plugins/semanticOutliner
	url = git@github.com:jessebeach/semanticOutliner.git
[submodule "plugins/Modernizr"]
	path = plugins/Modernizr
	url = https://github.com/Modernizr/Modernizr.git
[submodule "plugins/960grid"]
	path = plugins/960grid
	url = https://github.com/nathansmith/960-Grid-System.git
[submodule "plugins/fluid960grid"]
	path = plugins/fluid960grid
	url = git@github.com:jessebeach/fluid960gs.git
