[submodule "plugins/semanticOutliner"]
	path = plugins/semanticOutliner
	url = git@github.com:jessebeach/semanticOutliner.git
[submodule "plugins/Modernizr"]
	path = plugins/Modernizr
	url = https://github.com/Modernizr/Modernizr.git
